body {
    font-family: Arial, sans-serif;
    font-weight: 500;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer {
    border-top: 1px solid #e4e4e4;
    bottom: 0;
    color: rgba(0,0,0,.54);
    position: absolute;
    background: #f2f2f2;
    width: 100%;
    padding-left: 27px;
    line-height: 40px;
}


.top-links {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px 0 0 0;
    color: rgba(0,0,0,0.87);
}

.logo {
    display: block;
    padding-top: 135px;
    text-align: center;
}

.search {
    width: 100%;
    display: block;
    text-align: center;
}

.location {
    font-size: 15px;
}

.bottom-links {
    border-top: 1px solid #e4e4e4;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    margin-right: 35px;
    margin-left: -10px;
}

a {
    color: rgba(0,0,0,0.87);
    opacity: .70;
    font-size: 13px;
    text-decoration: none;
    padding: 12px;
}

nav li {
    display: inline;
}

a:hover {
    text-decoration: underline;
}

input {
    height: 34px;
    width: 450px;
    margin-top: 28px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    padding: 1px 15px;
}